.Role {
  width: 366px;
}
.selectbox {
  width: 100%;
}
.button1 {
  width: 80px;
  height: 26px;
  margin-top: -26px;
}
.button {
  margin-left: 200px;
}
.Button {
  margin-left: 795px;
  margin-top: 10px;
}
