.buttonNew {
  margin-left: 550px;
  margin-top: 30px;
}
.buttonList {
  margin-left: 80px;
}
.buttonExit {
  margin-left: 80px;
}
.into {
  margin-left: 80px;
}
.buttonStock {
  margin-top: 30px;
  margin-left: 400px;
}
.buttonCompanyList {
  margin-left: 10px;
}
.buttonCategoryList {
  margin-left: 10px;
}
.buttonProductList {
  margin-left: 10px;
}
.buttonLocationList {
  margin-left: 10px;
}
.buttonUnitList {
  margin-left: 10px;
}
.buttonExit2 {
  margin-left: 100px;
}
